<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/dashboard">Banque en Ligne</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard" data-nav="dashboard">Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile" data-nav="profile">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transactions" data-nav="transactions">Transactions</a>
                </li>
            </ul>
            <button id="logoutBtn" class="btn btn-light">Déconnexion</button>
        </div>
    </div>
</nav>